
html {background-color: black;}
/* Main container*/
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 80);
    width: 300px;
}
/* Right Container */
.right-container {

    background-color: rgb(46, 46, 46);
    width: 800px;
}
.right-top-container { 
    display: flex; 
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(46, 46, 46);
    
}
.right-top-about-me {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color:  rgb(46, 46, 46);
    max-width: 400px;
}
/* Picture */
.right-top-picture {
    display: flex; 
    justify-content: center;
    align-content: center;
    margin-left: 100px;
    background-color:  rgb(46, 46, 46);
}
.about-me-name {
    font-size: 20px;
    background-color:  rgb(46, 46, 46);
}
.about-me-title { 
    padding-top: 10px;
    color: rgb(196, 196, 196);
    background-color:  rgb(46, 46, 46);
    font-size: 10pt;
}
.about-me-main {
    color: rgb(196, 196, 196);
    background-color:  rgb(46, 46, 46);
    font-size: 10pt;
}
.button1 {
    margin-top: 10px;
    background-color: cadetblue;
    width: 100px;
    border-radius: 4px ;
    border: none;
    padding: 5px;
    color: white;
}