*{
    background-color: wheat;
}
.top-container {
    display: flex;
    
}
.left-container {
    color: purple;
    padding-right: 100px;
    padding-top: 100px;
    
}
.right-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.top-right {
    background-color: lavender;
}
.center-right {
    margin-top: 30px;
    margin-left: 10px;
    background-color: lavender;
}
.bottom-right {
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(41, 41, 172);
}